# Dependencies
node_modules/
.npm/

# Build artifacts
dist/
.astro/

# Environment & Secrets
.env
.env.*
!.env.example

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Data runtime
data/analytics.json

# Public heavy media & scraped assets library
public/assets/*
!public/assets/endurance-aventure-logo-blanc.png
!public/assets/endurance-aventure-logo-noir.png
!public/assets/endurance-aventure-icone-noir.png
!public/assets/logo-GBC500-ARGON18.png
!public/assets/logo-argon-18-2.png
!public/assets/orford_logo-original_fond_transparent.png
!public/assets/EnduranceAventure.jpg
!public/assets/daniel-poirier-endurance-aventure.jpg
!public/assets/organisation-evenements-sportifs-services-endurance-aventure.jpg
!public/assets/production-tele-services-endurance-aventure-e1517973509712.jpg
!public/assets/raid-endurance-aventure-basse-cote-nord-2008.jpg
!public/assets/2023-08-05_GBC500_mc_1498-scaled.webp
!public/assets/51581835318_775ae15a4e_k.webp
!public/assets/51582278409_86672a9a9f_k.webp
!public/assets/51586236989_64f608f4ba_k.webp
